<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a class="brand-logo">Hello {{user_name}}</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/logout">Logout</a></li>
        <li><a href="/create_trip">Create a new trip!</a></li>
      </ul>
    </div>
  </nav>
  <h4>Your trips:</h4>
  <table>
    <thead>
      <tr>
        <th>Destination</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Plan</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for trip in trips %}
          <tr>
            <td><a href='/trip_info/{{trip.id}}'>{{trip.destination}}</a></td>
            <td>{{trip.start_date}}</td>
            <td>{{trip.end_date}}</td>
            <td>{{trip.plan}}</td>
            <td><a href='remove_trip/{{trip.id}}'>Remove</a>|<a href='/edit_trip/{{trip.id}}'>Edit</a></td>
          </tr>
      {% endfor %}
      {% for trip in joined_trips %}
      <tr>
        <td><a href='/trip_info/{{trip.id}}'>{{trip.destination}}</a></td>
        <td>{{trip.start_date}}</td>
        <td>{{trip.end_date}}</td>
        <td>{{trip.plan}}</td>
        <td><a href='cancel_trip/{{trip.id}}'>Cancel</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <br>
  <h4>Other people's trips</h4>
  <table>
    <thead>
      <tr>
        <th>Destination</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Plan</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for trip in other_trips %}
          <tr>
            <td><a href='/trip_info/{{trip.id}}'>{{trip.destination}}</a></td>
            <td>{{trip.start_date}}</td>
            <td>{{trip.end_date}}</td>
            <td>{{trip.plan}}</td>
            <td><a href='join_trip/{{trip.id}}'>Join</a></td>
          </tr>
      {% endfor %}
    </tbody>
  </table>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>